/db/*
!/db/wallos.empty.db
/images/uploads/logos/*
!/images/uploads/logos/wallos.png
/logos/

# Exclude .vscode directory
.vscode/

# Exclude .git directory
.git/
.github/

*.md
.gitignore
.dockerignore
